<div class="product-container">
  <a routerLink="/products/{{product.id}}">
    <img src="{{ product.url }}" alt="{{ product.name }}" class="product-image">
  </a>
  <h3 class="product-name">{{ product.name }}</h3>
  <p class="product-price">${{ product.price }}</p>
  <select
    class="select-input"
    name="quantity"
    value="{{ quantity }}"
    [(ngModel)]="quantity"
    (ngModelChange)="updateQuantity($event)"
  >
    <option *ngFor="let quantityVal of quantityList" value="{{ quantityVal }}">
      {{ quantityVal }}
    </option>
  </select>
  <button class="product-btn" (click)="addProductToCart()">Add to Cart</button>
</div>
