<div class="product-container">
  <h3>{{ product.name }}</h3>
  <img src="{{ product.url }}" alt="{{ product.name }}" class="product-image">
  <p>{{ product.price }}</p>
  <select
    class="select-input"
    name="quantity"
    value="{{ quantity }}"
    [(ngModel)]="quantity"
    (ngModelChange)="updateQuantity($event)"
  >
    <option *ngFor="let quantityVal of quantityList" value="{{ quantityVal }}">
      {{ quantityVal }}
    </option>
  </select>
  <button class="product-btn">Add to Cart</button>
</div>
