<!-- User form  -->
<div class="cart-panel">
  <form #form="ngForm" (ngSubmit)="submitForm()" name="zz">
    <label for="fullName">Full Name</label>
    <br>
    <input
      type="text"
      id="fullName"
      name="fullName"
      placeholder="(minimum 3 characters)"
      [(ngModel)]="fullName"
      #userFullName="ngModel"
      required>
    <br>
    <label for="address">Address</label>
    <br>
    <input
      type="text"
      id="address"
      name="address"
      placeholder="(minimum 6 characters)"
      [(ngModel)]="address"
      #userAddress="ngModel"
      required>
    <br>
    <label for="cardNumber">Credit Card Number</label>
    <br>
    <input
      type="text"
      id="cardNumber"
      name="cardNumber"
      placeholder="(16-digit number)"
      minlength="16"
      maxlength="16"
      [(ngModel)]="cardNumber"
      #userCardNumber="ngModel"
      pattern="^[0-9]*$"
      required>
    <br>
    <p class="note">We'll never share your payment details with anyone else.</p>
    <!-- Disable submit button if no products in the cart or if any of input field invalid -->
    <button
      type="submit"
      [disabled]="form.invalid
        || !products.length
        || !getCount()
        || (userFullName.value || '').trim().length < 3
        || (userAddress.value || '').trim().length < 6"
      class="submit-btn">
      Submit
    </button>
  </form>
  <!-- Error messages for the user form-->
  <div *ngIf="!products.length || !getCount() else validateForm"  class="error-msg">
    There is no products in the cart!!!
  </div>
  <ng-template #validateForm>
    <div *ngIf="userCardNumber.invalid && userCardNumber.dirty"  class="error-msg">
      <div *ngIf="userCardNumber.errors && userCardNumber.errors['required']">
        Please provide your credit card number.
      </div>
      <div
        *ngIf="(userCardNumber.errors && userCardNumber.errors['minlength'])
        || (userCardNumber.errors && userCardNumber.errors['pattern'])">
        Credit card should contains 16 numbers, and accept only numbers.
      </div>
    </div>
    <div *ngIf="userAddress.invalid && userAddress.touched" class="error-msg">
      <div *ngIf="userAddress.errors && userAddress.errors['required']">
        Please provide your address.
      </div>
    </div>
    <div *ngIf="userAddress.dirty && (userAddress.value || '').trim().length < 6" class="error-msg">
      Address should contains at least 6 characters.
    </div>
    <div *ngIf="userFullName.invalid && userFullName.touched" class="error-msg">
      <div *ngIf="userFullName.errors && userFullName.errors['required']">
        Please provide your full name.
      </div>
    </div>
    <div *ngIf="userFullName.dirty && (userFullName.value || '').trim().length < 3" class="error-msg">
      Full name should contains at least 3 characters.
    </div>
  </ng-template>
</div>
